@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    margin: 0;
}

.container {
    width: 530px;
    height: 270px;
    background-image: url('assets/17975521.png');
    background-size: 570px 310px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-content: center;
    align-items: center;

}

.bar {
    fill: #242f3e;
}

.text {
    font-family: 'Roboto', sans-serif;
    color: #131921;
}

.bar-graph {
    margin-top: 20px;
    margin-right: 20px;
    width: 250px;
    text-align: left;
    color: #131921;
    font-size: 14px;
}

.ratings {
    width: 100px;
    text-align: left;
    color:#131921;
    font-size: 14px;
}

.keywords {
    width: 150px;
    text-align: left;
    color:#131921;
    font-size: 14px;
}

.caption {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color:#131921;
}

p {
    height: 15px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    color:#131921;
}
